.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #ff8c8c;
    padding: 10px;
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
}

.buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    background-color: #f18971;
    /* border: 1px solid #f08c8c; */
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ee0f0f;
}

.buttons button:active {
    background-color: #5e0c0c;
}
